<div class="center hero-unit">
  <h1>Welcome to HouseMe</h1>

  <h2>
      Sign up, tell us your housing preferences, and we'll alert you every hour, on the hour when new posts match your criteria.
  </h2>

  <%= link_to "Sign up and get housed!", signup_path, class: "btn btn-large btn-primary" %>
</div>