<footer class="footer">
  <small>
    HouseMe is an open project designed to help you snag a room in large urban areas.
  </small>
  <nav>
    <ul>
      <li>Created by <%= link_to "beechnut", 'http://www.github.com/beechnut/houseme' %>.</li>
      <li>Guided by <a href="http://railstutorial.org/">mhartl</a>.</li>
    </ul>
  </nav>
</footer>